.content {
  // box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}
.header {
  background-color: #119846;
  text-align: center;
  color: white;
  height: 10rem;
  padding-top: 5rem;
  border-radius: 0 0 25px 25px;
  h1 {
    margin: 0 !important;
    font-size: 2rem;
  }
}
.margin {
  padding-left: 1rem;
  padding-right: 1rem;  
}
main {
  background-color: white;
  height: 100%;
  overflow: auto;
}
.closeModal {
  position: fixed;
  top: 15px;
  right: 10px;
  font-size: 3rem;
}
.btns{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;

}
.timeLimit{
  float: left;
  font-size: 1.3rem;
}
.toggle{
  margin-top: 1rem;
}
.title{
  font-size: 3.2rem
}
.twoOptions {
  margin-top: 5rem;
}

.twoOptions, .tempoOption, .pontosOption{
  --ion-background-color: blueviolet;
  color: white;
  margin-bottom: 2rem;
  width: 60%;
}
.settings {
  font-size: 12rem;
  position: fixed;
  top: -78px;
  left: -75px;
  color: #58b758;
}