.content {
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 2rem;
}

main {
  background-color: green;
  height: 100%;
}
.closeModal {
  font-size: 3rem;
  position: absolute;
  right: 1%;
}
ion-item {
}
