.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: blueviolet;
  height: 100%;
  overflow: auto;
}
.closeModal {
  float: right;
  font-size: 3rem;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.3rem;
}
.twoOptions {
  margin-top: 5rem;
}

.twoOptions, .tempoOption, .pontosOption{
  --ion-background-color: blueviolet;
  color: white;
  margin-bottom: 2rem;
  width: 60%;
}
.pulse{
  border: 1px solid red;
}