<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tela-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Regras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="margin">
    <img src="./../../assets/background-rules.png" alt="background" class="background">
    <ion-slides pager="true">
      <ion-slide>
        <p><strong>1 - INÍCIO DE JOGO -</strong> Para iniciar deve-se começar com um cara ou coroa (par ou ímpar) o vencedor tem o direito de decidir sair com a bola ou escolher o lado da mesa, o oponente fica com a opção remanescente.
          obs: uma vez feita a escolha não pode ser alterada.</p>
        <p><strong>2 - SERVIÇO DE BOLA -</strong> A bola deve ser colocada com a mão no jogador central da barra de meio campo do time que optou sair com a bola; após convertido um gol a bola sai no boneco central da barra de meio de campo do time que sofreu o último gol, e assim por diante. Na próxima partida sai com a bola o time que perdeu o último jogo.</p>
        <p><strong>3 - A PRIMEIRA BOLA -</strong> 
          Após ter certeza que o time oposto está pronto para jogar, deve-se movimentar a bola de uma forma que toque 2 bonecos antes de chutar a gol ou avançar (passar a bola);</p>
        <p><strong>4 - BOLA FORA -</strong> Se a bola sair da mesa deverá ser colocada na defesa do time oposto que causou a saída da bola, ou seja, se o time "A" chutou a bola de uma forma que fez com que ela saísse da mesa, independente onde a bola bateu antes de sair, então o time "B" tem o direito de sair com a bola na sua defesa.</p>
      </ion-slide>
      <ion-slide>
        <p><strong>5 - BOLA MORTA -</strong> Se bola parar fora do alcance de qualquer boneco, ele deverá ser colocada na defesa mais perto do local onde a bola parou, no caso de parar no meio de campo deverá ser colocada no pé de quem serviu a última bola. Não se deve sacudir, levantar ou bater a mesa.</p>
        <p><strong>6 - PONTO MARCADO (GOL) -</strong> Se a bola entrar e sair do gol, o gol será válido, cada gol conta como 1 ponto apenas, independente de qual jogador chutou a bola a gol. O time que sofreu o gol agora é quem serve a bola conforma regra 3.
          obs: gol de goleiro não vale dois! e bola que entra e sai, vale! Gol aéreo é permitido.</p>
        <p><strong>7 - A PARTIDA -</strong> Uma partida é uma melhor de 3 ou 5 jogos conforme for estabelecido previamente pelo diretor ou organizador do torneio.</p>
        <p><strong>8 - O JOGO -</strong>  Um jogo é vencido pelo time que fizer 3 gols primeiro, podendo ser definido para 5 ou 10 gols ou conforme o diretor ou organizador do torneio.</p>
      </ion-slide>
      <ion-slide>
        <p><strong>9 - GIRAR AS BARRAS -</strong> Não é permitido girar as barras e nem bater nas laterais ou qualquer esforço na mesa que atrapalhe ou dificulte o controle de bola do time oponente. Um giro de 360º graus da barra (uma volta completa apenas), desde que seja controlado, é permitido. Se for efetuado um gol girando as barras o mesmo deverá ser invalidado, porém se for gol contra após um giro ilegal, será válido! Um giro Ilegal é definido quando o boneco der uma volta superior a 360º antes ou depois de tocar a bola.</p>
        <p><strong>10 - INVASÃO A AREA DE JOGO -</strong>  Não se deve colocar a mão dentro da área de jogo enquanto a bola estiver em movimento, se houver a necessidade de remover algum objeto que tenha caído no campo, aguarde até que a bola esteja parada completamente e então peça permissão ao adversário para colocar a mão dentro de campo. 
          obs: Uma bola girando em seu próprio eixo é considerada bola viva e não deve ser tocada até que pare completamente.</p>
      </ion-slide>
      <ion-slide>
        <p><strong>11 - TROCA DE LADO E DE PARCEIROS -</strong> Os times podem trocar de lado da mesa após cada jogo se quiserem, caso ambos não queiram então não é necessário, mas uma vez que um time queira trocar de lado, deverão continuar trocando de lado da mesa ao final de cada jogo.
          Os parceiros podem trocar de posição quantas vezes quiserem mas apenas entre um gol e outro, ou durante uma pausa, não é permitido trocar de posição com a bola em jogo, esteja parada ou em movimento.</p>
        <p><strong>12 - DISTRAÇÃO -</strong>  Não é permitido distrair o adversário de qualquer forma, seja falando verbalmente, batendo a barra antes de chutar a gol, ter expectadores ou amigos que façam alguma coisa para desviar a atenção do outro time, e também não é permitido que os jogadores do mesmo time fiquem conversando em quanto a bola estiver em jogo, após efetuado o gol é válido qualquer comemoração, mas não durante o jogo.</p>
        <p><strong>13 - DIVIRTA-SE!</strong></p>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
