.margin {
    padding-left: 1rem;
    padding-right: 1rem;
    p {
        font-size: 1.1rem;
    }
}

main {
    overflow: hidden;
}

.background {
    position: fixed;
    top: 25%;
    left: 0;
    min-width: 100%;
    width: auto;
    height: auto;
    opacity: 0.3;
}

.swiper-slide {
    display: block;
}

ion-slides {
    padding-bottom: 1rem;
    --bullet-background: red; 
}
ion-slide > h2 {
    margin-top: 2.8rem;
}