ion-icon {
    font-size: 16rem;
    display: block;
    width: 50%;
    margin: auto;
}

ion-button {
    right: 10.5px;
    top: 4.8px;
    position: absolute;
}

.margin {
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    h2 {
        font-size: 1.6rem;
    }
}