<body>
  <ion-content>
    <video id="video" src="./../../assets/videos/video_inicial.mp4" autoplay="true" loop="true" muted="true"></video>
    <div class="filtro"></div>
    <div class="menu">
      <img id="logo" src="./../../assets/logo.png" alt="logo">
      <div class="botoes">
        <ion-button (click)="goToPlacar()" shape="round" color="dark">Placar</ion-button>
        <ion-button (click)="goToClassificacao()" shape="round" color="dark">Classificação</ion-button>
        <ion-button shape="round" color="dark">Regras</ion-button>
      </div>
    </div>
  </ion-content>
</body>