<body>
  <ion-content>
    <video id="video" src="./../../assets/videos/Pebolim_All-Stars.mp4" autoplay="true" loop="true" controls muted></video>
    <div class="filtro"></div>
    <div class="menu">
      <img id="logo" src="./../../assets/logo.png" alt="logo">
      <div class="botoes">
        <ion-button (click)="goToPlacar()" shape="round" color="dark">Placar</ion-button>
        <!-- <ion-button (click)="goToClassificacao()" shape="round" color="dark">Classificação</ion-button> -->
        <ion-button (click)="goToRegras()" shape="round" color="dark">Regras</ion-button>
        <!-- <ion-button (click)="goToChaveGrupos()" shape="round" color="dark">Chave de grupos</ion-button> -->
        <ion-button (click)="goToVideos()" shape="round" color="dark">Videos</ion-button>
      </div>
    </div>
  </ion-content>
</body>