<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tela-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="videos">
    <ion-card *ngFor="let video of videos">
      <iframe width="100%" height="100%" [src]="video.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-header>      
        <ion-card-title>{{video.titulo}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

    <!-- <ion-select multiple="true" (ionChange)="onChange($event)">
      <ion-select-option [selected]="optionOne" [value]="firstOption" selected>limite de tempo</ion-select-option>
      <ion-select-option [selected]="optionTwo" [value]="secondOption">limte de pontos</ion-select-option>
    </ion-select> -->
   
  

</ion-content>
