<div class="main">
    <h2>Grupo {{foto}}</h2>
    <div class="border"></div>
    <div class="content">
      <div class="time">
          <img [src]="foto" alt="">
          <p>{{nome}}</p>
      </div>
      <div class="time">
          <img [src]="foto" alt="">
          <p>{{nome}}</p>
      </div>
      <div class="time">
          <img [src]="foto" alt="">
          <p>{{nome}}</p>
      </div>
      <div class="time">
          <img [src]="foto" alt="">
          <p>{{nome}}</p>
      </div>
    </div>
</div>
