<ion-content>
  <div class='page'>

    <div class="timer" >
      <div *ngIf="!blueWon && !redWon && !draw;">
          <h1 class="time" *ngIf="!infinity; else infinito">{{ countdownStart | date:'mm:ss':'UTC'}}</h1>
      </div>
      <ng-template #infinito>
        <h1 class="time infinito">∞</h1>
      </ng-template>
      <div *ngIf="blueWon && !isPlaying">
          <h1 class="winningString">Azul ganhou!</h1>
      </div>
      <div *ngIf="redWon && !isPlaying">
          <h1 class="winningString">Vermelho ganhou!</h1>
      </div>
      <div *ngIf="draw && !isPlaying">
          <h1 class="winningString">Empate!</h1>
      </div>
    </div>
    <img *ngIf="bluePts >= pontosLimite || bluePts > redPts && countdownStart <= 0" class="blueWon"
      src="../../assets/win.gif" alt="">
    <img *ngIf="redPts >= pontosLimite  || redPts > bluePts && countdownStart <= 0" class="redWon"
      src="../../assets/win.gif" alt="">
    <div class="configDiv">
      <ion-fab *ngIf="!isPlaying && !blueWon && !draw && !redWon" class="fab-btn-play " slot="fixed">
        <ion-fab-button (click)="play()" color="light" size="small">
          <ion-icon class="options" name="md-arrow-dropright-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab *ngIf="isPlaying" class="fab-btn-pause " slot="fixed">
        <ion-fab-button (click)="pause()" color="light" size="small">
          <ion-icon class="options" name="md-pause"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab *ngIf="!isPlaying" class="fab-btn-config " slot="fixed">
        <ion-fab-button (click)="presentModal()" color="light" size="small">
          <ion-icon class="options" name="md-settings"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab *ngIf="!isPlaying" class="fab-btn-refresh " slot="fixed">
        <ion-fab-button (click)="refresh()" color="light" size="small">
          <ion-icon class="options" name="md-repeat"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>


    <div class='left-col' [ngClass]="{redIsWinning: whoIsWinning == 'red'}">
      <div class="plus">
        <ion-fab class="fab-btn-up-lefSide" slot="fixed">
          <ion-fab-button (click)="plusRedTeam()" [disabled]="redPts >= pontosLimite || !isPlaying" color="light" size="small">
            <ion-icon class="arrow" name="md-arrow-dropup"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>

      <div class="less">
        <ion-fab class="fab-btn-down-lefSide" slot="fixed">
          <ion-fab-button (click)="lessRedTeam()" [disabled]="redPts <= 0 || !isPlaying" color="light" size="small">
            <ion-icon class="arrow" name="md-arrow-dropdown"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <h1 class="leftCounter">{{redPts}}<span *ngIf="pontosLimite" class="max">/{{pontosLimite}}</span></h1>
    </div>
    <div class='right-col' [ngClass]="{blueIsWinning: whoIsWinning == 'blue'}">
      <div class="plus">
        <ion-fab class="fab-btn-up-rightSide" slot="fixed">
          <ion-fab-button (click)="plusBlueTeam()" [disabled]="bluePts >= pontosLimite || !isPlaying" color="light" size="small">
            <ion-icon class="arrow" name="md-arrow-dropup"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div class="less">
        <ion-fab class="fab-btn-down-rightSide" slot="fixed">
          <ion-fab-button (click)="lessBlueTeam()" [disabled]="bluePts <= 0 || !isPlaying" color="light" size="small">
            <ion-icon class="arrow" name="md-arrow-dropdown"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <h1 class="rightCounter" [ngClass]="{'fix': bluePts >= 10 , 'otherFix': pontosLimite}">{{bluePts}}<span
          *ngIf="pontosLimite" class="max">/{{pontosLimite}}</span></h1>
    </div>
  </div>
</ion-content>